@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200&display=swap');
body{
    color: #fff;
}
.choice-container{
    direction: rtl;
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: rgb(18,93,255);
    font-size: 3.3rem;
    min-width: 80rem;
    border-radius: 4px;
    font-family: 'Changa', sans-serif;
    

}
.choice-container:hover{
    transform: scale(1.03);
    transition: transform 250ms;
    cursor: pointer;
    box-shadow: 0 .4rem 1.4rem 0 rgba(6,183,247,.5);
}
.choice-prefix{
    padding: 2rem 2.5rem;
    color: white;
}
.choice-text{
    padding: 2rem;
    width: 100%;
}
#question{
    direction: rtl;
    font-family: 'Changa', sans-serif;
}

.correct{
    background: rgb(31, 231, 31);
}

.incorrect{
    background: rgb(250, 0, 0);
}

#hud{
    display: flex;
    justify-content: space-between;
}

.hud-prefix{
    text-align: center;
    font-size: 2rem;
}
.hud-main-text{
    text-align: center;
}


#progressBar{
    width: 20rem;
    height: 3rem;
    border: .2rem solid rgb(11,223,38);
    border-radius: 50px;
    margin-top: 2rem;
    overflow: hidden;
}
#progressBarFull{
    background: rgb(11,223,38);
    height: 100%;
    width: 0%;
}
@media screen and (max-width:760px) {
    .choice-container{
        min-width: 40rem;
    }
}

@media screen and (max-width:400px) {
    .choice-container{
        min-width: 30rem;
    }
    .hud-main-text{
        font-size: 2rem;
    }
    #question{
        font-size: 2.8rem;
    }
    #progressBar{
        width: 15rem;
        height: 2.4rem;
    }
}
